In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/luismoreira/Desktop/Final_project/final_project/missing_cloud_cover.csv')

In [3]:
data = data.drop('Unnamed: 0', axis = 1)

In [4]:
data.head()

,Phov,Elevation,long_bins,lat_bins,Inclination,lat_leftend,lat_rightend,long_leftend,long_rightend,Coordinates,Address,County
0,1649.0002,155.476274,"(-9.496, -9.404]","(38.767, 38.845]",6.416667,38.767,38.845,-9.508,-9.415,"38.767,-9.508","Arribas Direitas, Colares, Sintra, Lisboa, 270...",Lisboa
1,1654.1453,83.547421,"(-9.404, -9.312]","(38.689, 38.767]",7.000000,38.689,38.767,-9.415,-9.323,"38.689,-9.415","Marina de Cascais, Avenida Rei Humberto II de ...",Lisboa
2,1634.1395,186.357420,"(-9.404, -9.312]","(38.767, 38.845]",6.777778,38.767,38.845,-9.415,-9.323,"38.767,-9.415","Torgas, Sintra, Lisboa, 2714 - 511, Portugal",Lisboa
3,1634.9681,139.481740,"(-9.404, -9.312]","(38.845, 38.922]",5.777778,38.845,38.922,-9.415,-9.323,"38.845,-9.415","Pernigem, São João das Lampas e Terrugem, Sint...",Lisboa
4,1611.8870,122.346542,"(-9.404, -9.312]","(38.922, 39.0]",6.000000,38.922,39.000,-9.415,-9.323,"38.922,-9.415","Estrada de São Julião, São João das Lampas e T...",Lisboa

In [5]:
prec = pd.read_csv('/Users/luismoreira/Downloads/PRECIP_PT_mensal01.csv')
prec.head()

                19500131
0  42.000   -8.600 37.19
1  42.000   -8.400 58.98
2  42.000   -8.200 21.09
3   42.000   -7.200 4.44
4  42.000   -7.000 15.94

In [6]:
def split(row):
    return row.split()

In [7]:
prec['split'] = prec['19500131'].apply(split)

In [8]:
def find_lat(row):
    return row[0]

def find_long(row):
    return row[1]

def find_value(row):
    return row[2]

In [9]:
prec['lat'] = prec['split'].apply(find_lat)

In [10]:
prec

                    19500131                    split     lat
0      42.000   -8.600 37.19  [42.000, -8.600, 37.19]  42.000
1      42.000   -8.400 58.98  [42.000, -8.400, 58.98]  42.000
2      42.000   -8.200 21.09  [42.000, -8.200, 21.09]  42.000
3       42.000   -7.200 4.44   [42.000, -7.200, 4.44]  42.000
4      42.000   -7.000 15.94  [42.000, -7.000, 15.94]  42.000
...                      ...                      ...     ...
13926  37.200   -7.400 35.70  [37.200, -7.400, 35.70]  37.200
13927  37.000   -9.000 40.86  [37.000, -9.000, 40.86]  37.000
13928  37.000   -8.800 51.88  [37.000, -8.800, 51.88]  37.000
13929  37.000   -8.000 45.56  [37.000, -8.000, 45.56]  37.000
13930  37.000   -7.800 42.91  [37.000, -7.800, 42.91]  37.000

[13931 rows x 3 columns]

In [24]:
long = []

for i in range(len(prec['split'])):
    print((prec['split'].iloc[i][1]))

-8.600
-8.400
-8.200
-7.200
-7.000
-6.800
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-6.600
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-6.600
-6.400
-6.200
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-6.600
-6.400
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-6.800
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-9.400
-9.200
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-9.400
-9.200
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-9.400
-9.200
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-9.400
-9.200
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-9.200
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-9.200
-9.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-7.000
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-7.200
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-8.800
-8.600
-8.400
-8.200
-8.000
-7.800
-7.600
-7.400
-9.000
-8.800
-8.000
-7.800

IndexError: list index out of range

In [17]:
[prec['split'].iloc[i][1] for i in range(len(prec['split']))]

IndexError: list index out of range

In [20]:
def find_long(row):
    ser = []
    for i in range(len(prec['split'])):
        ser.append(row[i][1])
    
    return ser

In [21]:
prec['split'].apply(find_long)

IndexError: list index out of range

# Separator

In [43]:
prec['split'].iloc[0]

['42.000', '-8.600', '37.19']

In [60]:
    for lis in prec['split']:
        for item in lis:
            item = float(item)

In [69]:
for item in prec['19500131'].iloc[0].split():
    print(float(item))

42.0
-8.6
37.19

In [83]:
def convert_to_float(row):
    return [float(i) for i in lis for lis in row]

In [77]:
for item in prec['split']:
    for num in item:
        num = float(num)

In [82]:
type(prec['split'].iloc[0][0])

str

In [85]:
prec['num'] = prec['split'].apply(convert_to_float)

In [87]:
prec['num'].iloc[0]

[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42.91, 42.91]

In [89]:
prec['lat'] = prec['num'].apply(find_lat)

In [90]:
prec['lat']

0        37.0
1        37.0
2        37.0
3        37.0
4        37.0
         ...
13926    37.0
13927    37.0
13928    37.0
13929    37.0
13930    37.0
Name: lat, Length: 13931, dtype: float64

In [91]:
prec['long'] = prec['num'].apply(find_long)

IndexError: list index out of range

In [92]:
prec

,19500131,split,lat,long,num
0,42.000 -8.600 37.19,"[42.000, -8.600, 37.19]",37.0,"[42.000, -8.600, 37.19]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
1,42.000 -8.400 58.98,"[42.000, -8.400, 58.98]",37.0,"[42.000, -8.400, 58.98]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
2,42.000 -8.200 21.09,"[42.000, -8.200, 21.09]",37.0,"[42.000, -8.200, 21.09]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
3,42.000 -7.200 4.44,"[42.000, -7.200, 4.44]",37.0,"[42.000, -7.200, 4.44]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
4,42.000 -7.000 15.94,"[42.000, -7.000, 15.94]",37.0,"[42.000, -7.000, 15.94]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
...,...,...,...,...,...
13926,37.200 -7.400 35.70,"[37.200, -7.400, 35.70]",37.0,"[37.200, -7.400, 35.70]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
13927,37.000 -9.000 40.86,"[37.000, -9.000, 40.86]",37.0,"[37.000, -9.000, 40.86]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
13928,37.000 -8.800 51.88,"[37.000, -8.800, 51.88]",37.0,"[37.000, -8.800, 51.88]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
13929,37.000 -8.000 45.56,"[37.000, -8.000, 45.56]",37.0,"[37.000, -8.000, 45.56]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."
13930,37.000 -7.800 42.91,"[37.000, -7.800, 42.91]",37.0,"[37.000, -7.800, 42.91]","[37.0, 37.0, 37.0, -7.8, -7.8, -7.8, 42.91, 42..."